{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block titleHeader %}
    {{ titleHeader}}
{% endblock %}

{% block titleSubHeader %}
    {{ titleSubHeader }}
{% endblock %}

{% block content %}

<div class="col-3">
    <div class="section-heading">
        <h2 class="section-title">Use the following links to navigate the madness. Be careful as you might find you've gone down a rabbit hole and eventually you will have to find your way out....</h2>
    </div>

</div>

<div class="col-2-3">

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-comment-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='thoughts') }}">Thoughts</a></h4>
            <p>Try and keep up with the random thoughts that invade my head and lead to the randomness that ensues</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-heart fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='passions') }}">Passions</a></h4>
            <p>I treasures these more than words can describe. They are my joy, frustration and provide motivation</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-ban fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='delusions') }}">Delusions</a></h4>
            <p>These are my ramblings manifested into words, my theories and ideas. Here you will find everything else</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='interests') }}">Interests</a></h4>
            <p>My interests have been described as seasonal so follow me as i grow, learn, explore, experiment and discover</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-book fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a >Stories</a></h4>
            <p>Short reads im sure you will fine either interesting or intriguing</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-thumbs-up fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a >Funnies</a></h4>
            <p>Just so you know, before you leave you will laugh, and you will like it</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-futbol-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a >Hobbies</a></h4>
            <p>Yearly and seasonal tracker about what im up to, follow along if your bored</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-linux fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a >Projects</a></h4>
            <p>Just some stuff im working on in some capacity or another</p>
        </div>
    </div>
    <!--End of Icon Block-->

</div>
{% endblock %}