{% extends 'layout.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block titleHeader %}
    {{ titleHeader}}
{% endblock %}

{% block titleSubHeader %}
    {{ titleSubHeader }}
{% endblock %}

{% block content %}

<div class="col-3">
    <div class="section-heading">
        <h2 class="section-title">Use the following links to navigate the madness. Be careful as you might find you've gone down a rabbit hole and eventually you will have to find your way out....</h2>
    </div>

</div>

<div class="col-2-3">
    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-comment-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Thoughts') }}">Thoughts</a></h4>
            <p>Try and keep up with the randomness of my thoughts</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-heart fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Passions') }}">Passions</a></h4>
            <p>Things I'm most passionate about and enjoy doing</p>
        </div>
    </div>
    <!--End of Icon Block-->
</div>
<div class="col-2-3">
    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-ban fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Delusions') }}">Delusions</a></h4>
            <p>Wild ideas and concepts that may or may not be true</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-smile-o fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Interests') }}">Interests</a></h4>
            <p>Topics and subjects that catch my attention sometimes</p>
        </div>
    </div>
    <!--End of Icon Block-->
</div>
<div class="col-2-3">
    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-thumbs-up fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Funnies') }}">Funnies</a></h4>
            <p>Just a little help to get us all through the day</p>
        </div>
    </div>
    <!--End of Icon Block-->

    <!--Icon Block-->
    <div class="col-2 icon-block icon-top wow fadeInUp">
        <!--Icon-->
        <div class="icon">
            <i class="fa fa-linux fa-2x"></i>
        </div>
        <!--Icon Block Description-->
        <div class="icon-block-description">
            <h4><a href="{{ url_for('mind_object.index', object_type='Projects') }}">Projects</a></h4>
            <p>I deem these to be a worthy investment of my time</p>
        </div>
    </div>
    <!--End of Icon Block-->
</div>
{% endblock %}